In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

In [22]:
raw_df = pd.read_csv('C://Workspace/02.DataAnalysis/05.Crawling/data/ì œì£¼ë°ì´í„°.csv')
raw_df.head()

,Unnamed: 0,content,date,like,place,tags
0,0,ë” ëŠ¦ê¸°ì „ì— ì œì£¼ë„ë¡œ ë– ë‚˜ìŸˆğŸ˜.#ì œì£¼í•«í”Œë ˆì´ìŠ¤ ê°„ë‹¨íˆ 1íƒ„ ëª¨ì•„ë´„!#ì œì£¼ì—¬í–‰ ìš” í•„...,2018-12-07,"1,402",NaN,"['#ì œì£¼í•«í”Œë ˆì´ìŠ¤', '#ì œì£¼ì—¬í–‰', '#ì œì£¼ì—¬í–‰', '#ì œì£¼ë„ì—¬í–‰', '#ì œì£¼ê°€..."
1,1,12ì›”ì— ì œì£¼ë„ë¥¼ ê°€ì•¼í•˜ëŠ”ì´ìœ ğŸŠ.#ì œì£¼í•«í”Œ ëª¨ìŒ ëíŒì™•ğŸ˜ì´ê±° í•˜ë‚˜ë©´ ê²¨ìš¸ #ì œì£¼ì—¬í–‰...,2018-12-03,368,NaN,"['#ì œì£¼í•«í”Œ', '#ì œì£¼ì—¬í–‰', '#ì œì£¼', '#ì œì£¼ë„', '#ì œì£¼ë„ë§›ì§‘', '#..."
2,2,11ì›” ë†“ì¹˜ì§€ ë§ì•„ì•¼ í• ì œì£¼ ê´€ê´‘.ê°€ì„ë°”ëŒì´ ìµœê³ ì¡°ì— ì´ë¥´ëŠ” 11ì›”ì¶”ìš´ ê²¨ìš¸ì„ ì•...,2018-11-02,166,NaN,"['#honestin', '#ì–´ë‹ˆìŠ¤í‹´', '#ì œì£¼ì—¬í–‰', '#ì œì£¼', '#ì œì£¼ë„',..."
3,3,êµ­ë¯¼í•™êµì„¸ëŒ€#ì œì£¼ê´€ê´‘#ì œì£¼ì‚´ì´#ì œì£¼ì´ì£¼ë¯¼#ì•„ë¼ë™ì£¼ë¯¼#ì‚¼ë‚¨ë§¤ì§‘ #ìƒˆí•´ì²«ë‚ #ë“œë¼ì´ë¸Œ#ëª…...,2019-01-01,28,ëª…ì›”êµ­ë¯¼í•™êµ,"['#ì œì£¼ê´€ê´‘', '#ì œì£¼ì‚´ì´', '#ì œì£¼ì´ì£¼ë¯¼', '#ì•„ë¼ë™ì£¼ë¯¼', '#ì‚¼ë‚¨ë§¤ì§‘'..."
4,4,#ì œì£¼ê´€ê´‘ #ì œì£¼ #ë”ë‚˜ì´íŠ¸ #ìŠ¤íŠ¸ë ˆìŠ¤ #í’€ì #ì¶¤ì¶”ë©° #ë•€ë‚ ë ¤ #ê°€ë”ì€ê´œì°®ì•„ #ì¸...,2019-01-01,12,NaN,"['#ì œì£¼ê´€ê´‘', '#ì œì£¼', '#ë”ë‚˜ì´íŠ¸', '#ìŠ¤íŠ¸ë ˆìŠ¤', '#í’€ì', '#ì¶¤ì¶”..."

In [23]:
location_counts = raw_df.place.value_counts().to_frame()
print(location_counts.shape)
location_counts.head()

(1027, 1)

                      place
Jeju                    241
Jeju-do                 172
Jungle Book by Alice    101
Seogwipo                 65
ì œì£¼ë„ í¬ë¦¬ìŠ¤ë§ˆìŠ¤ ë°•ë¬¼ê´€            59

In [24]:
location_counts.tail()

               place
í‘ë¼ì§€ê°€ìˆëŠ”í’ê²½           1
ë¬¼ê¼¬ê¸°                1
ë¸”ë™í•˜ìš°ìŠ¤ ë–¡ë³¶ì´ë ˆìŠ¤í† ë‘      1
ê¹€ë…• ì„±ì„¸ê¸° í•´ë³€          1
ë””ìŠ¤ì´ì¦ˆí•«              1

In [25]:
location_counts.to_csv('location_counts.csv')

In [26]:
loc_df = pd.read_csv('location_counts.csv')
loc_df.columns = ['ì§€ëª…','ë¹ˆë„']
loc_df.head()

                     ì§€ëª…   ë¹ˆë„
0                  Jeju  241
1               Jeju-do  172
2  Jungle Book by Alice  101
3              Seogwipo   65
4         ì œì£¼ë„ í¬ë¦¬ìŠ¤ë§ˆìŠ¤ ë°•ë¬¼ê´€   59

### ì¹´ì¹´ì˜¤ê²€ìƒ‰ APIë¥¼ ì´ìš©í•œ í‚¤ì›Œë“œ ì¥ì†Œ ê²€ìƒ‰

In [11]:
with open('kakaoapikey.txt') as f:
    api_key = f.read()

In [12]:
import requests
from urllib.parse import quote

In [13]:
keyword = 'í•©ì • ìŠ¤íƒ€ë²…ìŠ¤'
search_url = 'https://dapi.kakao.com/v2/local/search/keyword.json'
url = f'{search_url}?query={quote(keyword)}'
result = requests.get(url, headers={"Authorization": f'KakaoAK {api_key}'}).json()
result['documents'][0]

{'address_name': 'ì„œìš¸ ë§ˆí¬êµ¬ ì„œêµë™ 395-166',
 'category_group_code': 'CE7',
 'category_group_name': 'ì¹´í˜',
 'category_name': 'ìŒì‹ì  > ì¹´í˜ > ì»¤í”¼ì „ë¬¸ì  > ìŠ¤íƒ€ë²…ìŠ¤',
 'distance': '',
 'id': '26572121',
 'phone': '1522-3232',
 'place_name': 'ìŠ¤íƒ€ë²…ìŠ¤ ì„œêµì ',
 'place_url': 'http://place.map.kakao.com/26572121',
 'road_address_name': 'ì„œìš¸ ë§ˆí¬êµ¬ ì–‘í™”ë¡œ 78',
 'x': '126.916980454434',
 'y': '37.5514601750423'}

In [29]:
import re

In [ ]:
re.sub('[^ã„±-ã…ã…-ã…£ê°€-í£0-9 ]','','')

In [27]:
def find_place(keyword):
    url = f'{search_url}?query={quote(keyword)}'
    result = requests.get(url, headers={"Authorization": f'KakaoAK {api_key}'}).json()
    try:
        name = result['documents'][0]['place_name']
        if 'ì œì£¼íŠ¹ë³„ìì¹˜ë„' not in result['documents'][0]['address_name']:
            lng = np.nan
            lat = np.nan
        else:
            lng = float(result['documents'][0]['x'])
            lat = float(result['documents'][0]['y'])
    except:
        name = ''
        lng = np.nan
        lat = np.nan
    
    return name, lng, lat, keyword

In [17]:
find_place('ì œì£¼ê³µí•­')

('ì œì£¼êµ­ì œê³µí•­', 126.492769004244, 33.5070789578184, 'ì œì£¼ê³µí•­')

In [30]:
# loc_dfì— ê³µì‹ëª…ì¹­, ìœ„ë„, ê²½ë„ ì •ë³´ ì¶”ê°€
name_list, lng_list, lat_list = [], [], []
for place in loc_df.ì§€ëª…:
    place = re.sub('[^ê°€-í£0-9]','',place).strip()
    if place:
        name, lng, lat, _ = find_place(place)
    else:
        name, lng, lat = '', np.nan, np.nan
    name_list.append(name)
    lng_list.append(lng)
    lat_list.append(lat)

In [31]:
loc_df['ê³µì‹ëª…ì¹­'] = name_list
loc_df['ìœ„ë„'] = lat_list
loc_df['ê²½ë„'] = lng_list
loc_df.head()

                     ì§€ëª…   ë¹ˆë„            ê³µì‹ëª…ì¹­         ìœ„ë„          ê²½ë„
0                  Jeju  241                        NaN         NaN
1               Jeju-do  172                        NaN         NaN
2  Jungle Book by Alice  101                        NaN         NaN
3              Seogwipo   65                        NaN         NaN
4         ì œì£¼ë„ í¬ë¦¬ìŠ¤ë§ˆìŠ¤ ë°•ë¬¼ê´€   59  ë°”ì´ë‚˜ííŠ¼ í¬ë¦¬ìŠ¤ë§ˆìŠ¤ë°•ë¬¼ê´€  33.291572  126.327858

In [32]:
# Null ë°ì´í„° ì‚­ì œ
loc_df.isnull().sum()

ì§€ëª…        0
ë¹ˆë„        0
ê³µì‹ëª…ì¹­      0
ìœ„ë„      197
ê²½ë„      197
dtype: int64

In [40]:
total_df = loc_df.dropna()
total_df.isnull().sum().sum()

0

In [41]:
total_df.head()

                                 ì§€ëª…  ë¹ˆë„            ê³µì‹ëª…ì¹­         ìœ„ë„          ê²½ë„
4                     ì œì£¼ë„ í¬ë¦¬ìŠ¤ë§ˆìŠ¤ ë°•ë¬¼ê´€  59  ë°”ì´ë‚˜ííŠ¼ í¬ë¦¬ìŠ¤ë§ˆìŠ¤ë°•ë¬¼ê´€  33.291572  126.327858
5                           ì œì£¼ì—ì¸ê°ê·¤ë°­  48         ì œì£¼ì—ì¸ê°ê·¤ë°­  33.256561  126.539014
7  ì„±ì‚°ì¼ì¶œë´‰ åŸå±±æ—¥å‡ºå³°  Seongsan Ilchulbong  36           ì„±ì‚°ì¼ì¶œë´‰  33.459135  126.940538
8              í¼í¬ì½”ì‹ë‹¹_pompokokitchen  30           í¼í¬ì½”ì‹ë‹¹  33.450408  126.919065
9                            1100ê³ ì§€  25       í•œë¼ì‚°1100ê³ ì§€  33.358078  126.462220

In [42]:
# ê³µì‹ëª…ì¹­ ì¤‘ë³µ ì—¬ë¶€
total_df.ê³µì‹ëª…ì¹­.value_counts()[:10]

ì˜¬ë ˆê¸¸ 7ì½”ìŠ¤(ì„œê·€í¬-ì›”í‰ ì˜¬ë ˆ)    6
ë™ë¬¸ì¬ë˜ì‹œì¥                4
í•¨ë•í•´ìˆ˜ìš•ì¥                4
ì´í˜¸í…Œìš°í•´ìˆ˜ìš•ì¥              3
ìš°ë„                    3
ì²œì§€ì—°í­í¬                 3
ì„¸í™”í•´ë³€                  3
ë¹„ìë¦¼                   3
í˜‘ì¬í•´ìˆ˜ìš•ì¥                3
ì œì£¼ì¤‘ë¬¸ê´€ê´‘ë‹¨ì§€              3
Name: ê³µì‹ëª…ì¹­, dtype: int64

In [43]:
location_data = total_df.pivot_table(index=['ê³µì‹ëª…ì¹­','ìœ„ë„','ê²½ë„'],values='ë¹ˆë„',aggfunc='sum')
location_data.head()

                                  ë¹ˆë„
ê³µì‹ëª…ì¹­        ìœ„ë„        ê²½ë„
1158ì¡±ìš•ì¹´í˜    33.467075 126.336504   1
40ê³„ë‹¨        35.103911 129.034571   1
702í‚¤ì¹œ       33.498835 126.534134   1
CU ìˆ˜ì›ê´‘ì¥ì     37.268151 127.000311   1
KT ë¸Œë¡œ ë¼í˜ìŠ¤íƒ€ì  37.662346 126.767821   1

In [44]:
location_data.reset_index(inplace=True)
location_data.ê³µì‹ëª…ì¹­.value_counts()[:5]

1158ì¡±ìš•ì¹´í˜    1
ì •ê´€ì‹ ë„ì‹œ       1
ìêµ¬ë¦¬ëª¬ë“¤ë½      1
ìë§¤êµ­ìˆ˜ ë³¸ì      1
ìì—°ëœ¨ë½        1
Name: ê³µì‹ëª…ì¹­, dtype: int64

In [39]:
location_data.to_csv('ê³µì‹ëª…ì¹­.csv', index=False)

### folium ì§€ë„ ì‹œê°í™”(ì œì£¼ ì§€ëª…)

In [45]:
df.sort_values(by='ë¹ˆë„', ascending=False)
df.head()

                                 ì§€ëª…  ë¹ˆë„            ê³µì‹ëª…ì¹­         ìœ„ë„          ê²½ë„
4                     ì œì£¼ë„ í¬ë¦¬ìŠ¤ë§ˆìŠ¤ ë°•ë¬¼ê´€  59  ë°”ì´ë‚˜ííŠ¼ í¬ë¦¬ìŠ¤ë§ˆìŠ¤ë°•ë¬¼ê´€  33.291572  126.327858
5                           ì œì£¼ì—ì¸ê°ê·¤ë°­  48         ì œì£¼ì—ì¸ê°ê·¤ë°­  33.256561  126.539014
7  ì„±ì‚°ì¼ì¶œë´‰ åŸå±±æ—¥å‡ºå³°  Seongsan Ilchulbong  36           ì„±ì‚°ì¼ì¶œë´‰  33.459135  126.940538
8              í¼í¬ì½”ì‹ë‹¹_pompokokitchen  30           í¼í¬ì½”ì‹ë‹¹  33.450408  126.919065
9                            1100ê³ ì§€  25       í•œë¼ì‚°1100ê³ ì§€  33.358078  126.462220

In [ ]:
df[['ë¹ˆë„']].boxplot()

In [55]:
location_data.head()

          ê³µì‹ëª…ì¹­         ìœ„ë„          ê²½ë„  ë¹ˆë„
0     1158ì¡±ìš•ì¹´í˜  33.467075  126.336504   1
1         40ê³„ë‹¨  35.103911  129.034571   1
2        702í‚¤ì¹œ  33.498835  126.534134   1
3     CU ìˆ˜ì›ê´‘ì¥ì   37.268151  127.000311   1
4  KT ë¸Œë¡œ ë¼í˜ìŠ¤íƒ€ì   37.662346  126.767821   1

In [3]:
import folium

In [70]:
float(location_data['ê²½ë„'][0])

126.336504121082

In [ ]:
Mt_Hanla = [33.362500,126.533694]
map_jeju = folium.Map(location = Mt_Hanla, zoom_start=11)

name = location_data['ê³µì‹ëª…ì¹­'][0]
count = location_data['ë¹ˆë„'][0]
size = int(count)*2
location = (float(location_data['ìœ„ë„'][0]),float(location_data['ê²½ë„'][0]))
lat = float(location_data['ìœ„ë„'][0])
folium.CircleMarker((33.467075,126.336504), radius=size, color='red',popup=name).add_to(map_jeju)
map_jeju

In [ ]:
for i in location_data.index:
    print(i)

In [4]:
Mt_Hanla = [33.362500,126.533694]
map_jeju = folium.Map(location = Mt_Hanla, zoom_start=11)

for i in location_data.index:
    name = location_data['ê³µì‹ëª…ì¹­'][i]
    count = location_data['ë¹ˆë„'][i]
    size = int(count)*2
    location = (location_data['ìœ„ë„'][i],location_data['ê²½ë„'][i])
    folium.CircleMarker(location, radius=size, color='red',popup=name).add_to(map_jeju)

title = '<h3 align="center" style="font-size:20px">ì œì£¼ë„ í•« í”Œë ˆì´ìŠ¤</h3>'
map.get_root().html.add_child(folium.Element(title))
map_jeju

NameError: name 'location_data' is not defined

In [1]:
map.save('ì œì£¼ë„ í•«í”Œë ˆì´ìŠ¤(ê°œë³„).html')

AttributeError: type object 'map' has no attribute 'save'

### ê·¸ë£¹ìœ¼ë¡œ í‘œì‹œ

In [ ]:
from folium.plugins import MarkerCluster

locations, names = [], []
for i in location_data.index:
    locations.append([location_data.ìœ„ë„[i], location_data.ê²½ë„[i]])
    names.append(location_data.ê³µì‹ëª…ì¹­[i])

In [ ]:
map = folium.Map(location=Mt_Hanla, zoom_start=11)
MarkerCluster(
    locations=locations, popups=names,
    name='ì œì£¼', overlay=True, control=True
).add_to(map)
title = '<h3 align="center" style="font-size:20px">ì œì£¼ë„ í•« í”Œë ˆì´ìŠ¤</h3>'
map.get_root().html.add_child(folium.Element(title))
map