# 커피지수

## 데이터에서 커피숍 4개 데이터 추출

In [ ]:
from google.colab import  drive
drive.mount('/content/mnt')

Mounted at /content/mnt

In [ ]:
import pandas as pd

In [ ]:
data_folder = '/content/mnt/MyDrive/데이터/소상공인시장진흥공단정보'

In [ ]:
df = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv')
df = df[df.상권업종중분류코드 == 'Q12']
df.head()

       상가업소번호    상호명          지점명 상권업종대분류코드  ... 층정보 호정보          경도         위도
28   20659878    커피빈  코리아대학로대명거리점         Q  ...   3 NaN  127.000171  37.583149
111  20676428  요거프레소          쌍문점         Q  ...   1 NaN  127.034746  37.658728
190  20695531  메머드커피          NaN         Q  ...   1 NaN  126.929692  37.554599
197  28491095  우성커피숍          NaN         Q  ...   1 NaN  126.842935  37.522055
225  20815616   카페클럽          NaN         Q  ...   1 NaN  127.122480  37.488907

[5 rows x 39 columns]

In [ ]:
df = df[['상호명','지점명','시도명','시군구명','도로명주소']]

In [ ]:
df.head()

       상호명          지점명    시도명 시군구명                도로명주소
28     커피빈  코리아대학로대명거리점  서울특별시  종로구     서울특별시 종로구 대명길 25
111  요거프레소          쌍문점  서울특별시  도봉구      서울특별시 도봉구 도당로 7
190  메머드커피          NaN  서울특별시  마포구   서울특별시 마포구 와우산로 149
197  우성커피숍          NaN  서울특별시  양천구     서울특별시 양천구 오목로 48
225   카페클럽          NaN  서울특별시  송파구  서울특별시 송파구 동남로2길 3-6

In [ ]:
starbucks = df[df.상호명.str.contains('스타벅스|STARBUCKS|스타박스',case=False)]
starbucks.head()

              상호명      지점명    시도명  시군구명                 도로명주소
1738         스타벅스   동숭로아트점  서울특별시   종로구     서울특별시 종로구 동숭길 110
2766  스타벅스남부터미널2점  남부터미널2점  서울특별시   서초구     서울특별시 서초구 효령로 274
3785         스타벅스      당산점  서울특별시  영등포구     서울특별시 영등포구 양평로 64
3933         스타벅스    가로수길점  서울특별시   강남구  서울특별시 강남구 논현로175길 94
3995  스타벅스미아사거리역점  미아사거리역점  서울특별시   강북구      서울특별시 강북구 도봉로 32

In [ ]:
coffeebean = df[df.상호명.str.contains('커피빈|COFFEEBEAN',case=False)]
coffeebean.head()

              상호명           지점명    시도명 시군구명                 도로명주소
28            커피빈   코리아대학로대명거리점  서울특별시  종로구      서울특별시 종로구 대명길 25
316   커피빈코리아낙성대역점      코리아낙성대역점  서울특별시  관악구  서울특별시 관악구 남부순환로 1909
1470          커피빈  코리아강남역랭기지타워점  서울특별시  강남구   서울특별시 강남구 테헤란로4길 28
1491          커피빈      코리아청담성당점  서울특별시  강남구     서울특별시 강남구 삼성로 716
1506          커피빈      코리아청담에스점  서울특별시  강남구    서울특별시 강남구 압구정로 461

In [ ]:
ed = df[df.상호명.str.contains('이디야|이디아|EDIYA',case=False)]
ed.head()

             상호명    지점명    시도명  시군구명                도로명주소
1272       이디야커피   신길역점  서울특별시  영등포구  서울특별시 영등포구 영등포로 353
1411       이디야커피   라이프점  서울특별시  영등포구    서울특별시 영등포구 63로 40
2433  이디야커피양재AT점  양재AT점  서울특별시   서초구      서울특별시 서초구 동산로 3
2690       이디아커피    NaN  서울특별시   강동구   서울특별시 강동구 성내로6길 20
2785       이디야커피    시흥점  서울특별시   금천구    서울특별시 금천구 금하로 750

In [ ]:
pack = df[df.상호명.str.contains('빽다방|PACKSCOFFEE' ,case=False)]
pack.head()

               상호명       지점명    시도명 시군구명                 도로명주소
7607     빽다방공덕새창로점    공덕새창로점  서울특별시  마포구    서울특별시 마포구 새창로 15-1
8565      빽다방서초우성점     서초우성점  서울특별시  서초구    서울특별시 서초구 사임당로 181
19901  빽다방중계은행사거리점  중계은행사거리점  서울특별시  노원구   서울특별시 노원구 한글비석로 235
26972     빽다방성신여대점     성신여대점  서울특별시  성북구  서울특별시 성북구 동소문로20나길 3
27346    빽다방신림역1호점    신림역1호점  서울특별시  관악구  서울특별시 관악구 남부순환로 1592

In [ ]:
len(starbucks), len(coffeebean), len(ed), len(pack)

(489, 169, 462, 126)

### 전국 데이터에서 4개 매장 정보 추출하기

In [ ]:
starbucks_all = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])
coffeebean_all = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])
ediya_all = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])
paik_all = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])

In [ ]:
from glob import glob
for file in glob(f'{data_folder}/*.csv'):
  df = pd.read_csv(file)
  df = df[['상호명','지점명','시도명','시군구명','도로명주소']]

  starbucks = df[df.상호명.str.contains('스타벅스|STARBUCKS|스타박스',na=False,case=False)]
  coffeebean = df[df.상호명.str.contains('커피빈|COFFEEBEAN',na=False,case=False)]
  ed = df[df.상호명.str.contains('이디야|이디아|EDIYA',na=False,case=False)]
  pack = df[df.상호명.str.contains('빽다방|PACKSCOFFEE',na=False ,case=False)]

  starbucks_all = pd.concat([starbucks_all, starbucks])
  coffeebean_all = pd.concat([coffeebean_all,coffeebean])
  ediya_all = pd.concat([ediya_all,ed])
  paik_all = pd.concat([paik_all,pack])

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
len(starbucks_all), len(coffeebean_all), len(ediya_all), len(paik_all)

(1644, 362, 2446, 645)

In [ ]:
!mkdir -p /content/mnt/MyDrive/result/CoffeeIndex

In [ ]:
result_dir = 'content/mnt/MyDrive/result/CoffeeIndex'

In [41]:
starbucks_all.head()

               상호명        지점명  시도명 시군구명                   도로명주소
3226    스타벅스강릉안목항점     강릉안목항점  강원도  강릉시      강원도 강릉시 창해로14번길 40
5584          스타벅스  대명델피노리조트점  강원도  고성군  강원도 고성군 토성면 미시령옛길 1153
7827   스타벅스춘천후평DT점    춘천후평DT점  강원도  춘천시         강원도 춘천시 후석로 318
9325          스타벅스      춘천명동점  강원도  춘천시          강원도 춘천시 중앙로 55
10764  스타벅스설악워터피아점    설악워터피아점  강원도  속초시   강원도 속초시 미시령로2983번길 88

In [44]:
ediya_all.to_csv(f'/content/mnt/MyDrive/result/CoffeeIndex/이디야.csv', index=False)
paik_all.to_csv(f'/content/mnt/MyDrive/result/CoffeeIndex/빽다방.csv', index=False)