## mysql 실행

In [2]:
import pandas as pd
import json

In [3]:
with open('mysql.json', 'r') as file:
    config_str = file.read()
config = json.loads(config_str)

In [4]:
import pymysql
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port']
)

## 테이블 생성

In [5]:
cur = conn.cursor()
sql_create_table = '''
create table if not exists users ( 
    uid varchar(20) not null primary key, 
    pwd char(44) not null, uname varchar(20) not null,
    email varchar(40),
    reg_date datetime default current_timestamp,
    is_deleted int default 0 );
'''

In [6]:
cur.execute(sql_create_table)

0

### 데이터 추가

In [7]:
sql_insert = "INSERT INTO users(uid, pwd, uname) VALUES('admin','1234','관리자');"
cur.execute(sql_insert)

1

In [8]:
sql_select = 'select * from users;'
cur.execute(sql_select)
row = cur.fetchone()

In [9]:
row

('admin', '1234', '관리자', None, datetime.datetime(2021, 8, 25, 4, 28, 22), 0)

In [10]:
# 데이터를 하드 디스크에 쓰게 하는 명령
conn.commit()

## 여러건의 데이터 추가

In [11]:
sql_multi_insert = """
        INSERT INTO users(uid, pwd, uname) VALUES
        ('eskim', '5678', '김은숙'),('wjlee','1234','이우정');
"""

In [12]:
cur.execute(sql_multi_insert)
conn.commit()

### placeholder

In [15]:
sql_insert_ph = "INSERT INTO users(uid, pwd, uname) VALUES(%s,'1234',%s);"
uid, uname = 'djy', '대조영'
cur.execute(sql_insert_ph,(uid,uname))
conn.commit()

### 여러건의 데이터를 placeholder로 insert

In [17]:
users = (('gdhong','홍길동'),('rjh','류제홍'))
cur.executemany(sql_insert_ph,users)
conn.commit()

In [18]:
users = (('mji','이미주'),('twonkim','김태원'))
for user in users:
    cur.execute(sql_insert_ph, user)
conn.commit()

### 마무리

In [19]:
cur.close()
conn.close()