# MYSQL - 조회하는 방법

In [1]:
import pandas as pd
import json

In [2]:
with open('mysql.json', 'r') as file:
    config_str = file.read()
config = json.loads(config_str)

In [3]:
import pymysql
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port']
)

In [10]:
sql_select = '''SELECT uid, uname, email,
DATE_FORMAT(reg_date, '%T-%m-%d %H:%i') AS reg_date
FROM users WHERE is_Deleted=0 order BY reg_date;
'''

In [11]:
cur = conn.cursor()
cur.execute(sql_select)
row = cur.fetchone()
row

('admin', '관리자', None, '04:28:22-08-25 04:28')

### 여러건 조회

In [12]:
cur.execute(sql_select)
rows = cur.fetchmany(3)
rows

(('admin', '관리자', None, '04:28:22-08-25 04:28'),
 ('eskim', '김은숙', None, '04:37:13-08-25 04:37'),
 ('wjlee', '이우정', None, '04:37:13-08-25 04:37'))

In [13]:
rows = cur.fetchall()
rows

(('djy', '대조영', None, '04:46:54-08-25 04:46'),
 ('gdhong', '홍길동', None, '05:05:49-08-25 05:05'),
 ('rjh', '류제홍', None, '05:05:49-08-25 05:05'),
 ('mji', '이미주', None, '05:08:58-08-25 05:08'),
 ('twonkim', '김태원', None, '05:08:58-08-25 05:08'))

In [14]:
cur.execute(sql_select)
for row in cur:
    print(row)

('admin', '관리자', None, '04:28:22-08-25 04:28')
('eskim', '김은숙', None, '04:37:13-08-25 04:37')
('wjlee', '이우정', None, '04:37:13-08-25 04:37')
('djy', '대조영', None, '04:46:54-08-25 04:46')
('gdhong', '홍길동', None, '05:05:49-08-25 05:05')
('rjh', '류제홍', None, '05:05:49-08-25 05:05')
('mji', '이미주', None, '05:08:58-08-25 05:08')
('twonkim', '김태원', None, '05:08:58-08-25 05:08')

### 데이터 검색

In [16]:
uid = 'eskim'
sql_search = '''
    SELECT uid, uname, email,
    DATE_FORMAT(reg_date, '%%T-%%m-%%d %%H:%%i') AS reg_date
    FROM users WHERE is_deleted =0 AND uid=%s;
'''

In [21]:
cur = conn.cursor()
cur.execute(sql_search, (uid,))
result = cur.fetchone()
result

('eskim', '김은숙', None, '04:37:13-08-25 04:37')

### 데이터가 없는 경우

In [22]:
uid = 'park'
cur = conn.cursor()
cur.execute(sql_search,(uid,))
result = cur.fetchone()

In [23]:
if result:
    print(result)
else:
    print(f'uid={uid}인 사용자는 없음')

uid=park인 사용자는 없음