In [3]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import random

In [26]:
data = {
    "2015": [[9,9,0,4,3,1,2], [3,4,4,8,7,3,7], [2,8,9,0,4,5,1], [2,4,6,6,0,5,2]],
    "2010": [[9,6,3,1,4,8,2], [3,3,9,3,1,9,1], [2,6,3,2,0,3,5], [2,4,3,1,7,7,4]],
    "2005": [[9,7,6,2,5,4,6], [3,5,1,2,5,4,7], [2,5,1,7,6,8,0], [2,4,5,6,0,1,6]],
    "2000": [[9,8,5,3,9,7,2], [3,6,5,5,4,3,7], [2,4,6,6,3,3,8], [2,4,7,3,9,9,0]]
}
columns = ["2015", "2010", "2005", "2000"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

,2015,2010,2005,2000
서울,"[9, 9, 0, 4, 3, 1, 2]","[9, 6, 3, 1, 4, 8, 2]","[9, 7, 6, 2, 5, 4, 6]","[9, 8, 5, 3, 9, 7, 2]"
부산,"[3, 4, 4, 8, 7, 3, 7]","[3, 3, 9, 3, 1, 9, 1]","[3, 5, 1, 2, 5, 4, 7]","[3, 6, 5, 5, 4, 3, 7]"
인천,"[2, 8, 9, 0, 4, 5, 1]","[2, 6, 3, 2, 0, 3, 5]","[2, 5, 1, 7, 6, 8, 0]","[2, 4, 6, 6, 3, 3, 8]"
대구,"[2, 4, 6, 6, 0, 5, 2]","[2, 4, 3, 1, 7, 7, 4]","[2, 4, 5, 6, 0, 1, 6]","[2, 4, 7, 3, 9, 9, 0]"

In [27]:
choice_list = df.iloc[3,0]
choice_list

[2, 4, 6, 6, 0, 5, 2]

In [30]:
for index in range(len(df.index)):
    choice_list = df.iloc[index,random.randint(0,len(df.columns)-1)]
    print(choice_list[random.randint(0,len(choice_list)-1)])

8
3
6
1