# 데이터프레임 고급 인덱싱

In [4]:
import pandas as pd
import numpy as np

## 인덱서
- df.loc[행 인덱싱값] 또는 df.loc[행 인덱싱값, 열 인덱싱값]

In [5]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [6]:
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [7]:
df.loc["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [8]:
df['b':'c']

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [9]:
df.loc[['b','c']]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [10]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [11]:
df.loc[df.A>15]

    A   B   C   D
c  18  19  20  21

In [12]:
def select_rows(df):
    return df.A > 15

In [13]:
select_rows(df)

a    False
b    False
c     True
Name: A, dtype: bool

In [14]:
df.loc['b':,'B']

b    15
c    19
Name: B, dtype: int32

In [15]:
df.iloc[0,1]

11

In [16]:
df.iloc[1:,2]

b    16
c    20
Name: C, dtype: int32

In [17]:
df.iloc[0,-2:]

C    12
D    13
Name: a, dtype: int32

In [18]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: c, dtype: int32

In [19]:
data = pd.DataFrame(np.arange(25).reshape(5,5),index=['a','b','c','d','e'],columns=['f','g','h','i','j'])
data

    f   g   h   i   j
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [20]:
data['h']['c']

12

In [25]:
data.loc['c','h'], data.loc['c']['h'], data.loc['c'][2]

(12, 12, 12)

In [27]:
data.iloc[2,2],data.iloc[2]['h']

(12, 12)