In [10]:
import pandas as pd
import numpy as np
# 시리즈 = 값(value)(numpy의 값, 데이터 타입이 같음) + 인덱스(index)
s = pd.Series([9904312,3448737,2890451,2466052],index=["서울","부산","인천","대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [2]:
pd.Series(range(10,14))

0    10
1    11
2    12
3    13
dtype: int64

In [3]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [4]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [5]:
s.name = "인구"
s.index.name = "도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

### 시리즈 연산

In [6]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

### 시리즈 인덱싱, 슬라이싱

In [7]:
s[1], s["부산"]

(3448737, 3448737)

In [8]:
s[[0,3,1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [9]:
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [14]:
s[["서울","대구","부산"]]

서울    9904312
대구    2466052
부산    3448737
dtype: int64

In [15]:
s[(250e4<s) & (s<500e4)]

부산    3448737
인천    2890451
dtype: int64

In [17]:
s[(s>25e5) | (s>4e6)]

서울    9904312
부산    3448737
인천    2890451
dtype: int64

In [11]:
s0 = pd.Series(range(3),index=['a','b','c'])
s0

a    0
b    1
c    2
dtype: int64

In [12]:
s0.a

0

In [13]:
s0.b

1

In [19]:
s.부산

3448737

### 시리즈와 딕셔너리 자료형

In [20]:
"서울" in s

True

In [21]:
"대전" in s

False

In [22]:
for k, v in s.items():
    print('%s = %d' %(k,v))

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

In [24]:
s2=pd.Series({"서울":9631482, "부산":3393191, "인천":2632035, "대전":1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [26]:
# 딕셔너리 원소는 순서를 가지지 않으므로 순서를 정하고 싶으면 인덱스를 리스트로 지정해야한다.
s2=pd.Series({"서울":9631482, "부산":3393191, "인천":2632035, "대전":1490158},index=["부산","서울","인천","대전"])
s2

부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64

### 인덱스 기반 연산

In [27]:
ds = s - s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [28]:
s.values-s2.values

array([ 6511121, -6182745,   258416,   975894], dtype=int64)

In [29]:
rs=(s-s2)/s2 *100
rs

대구         NaN
대전         NaN
부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [30]:
rs.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [31]:
rs[rs.notnull()]

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

### 데이터의 갱신, 추가, 삭제

In [32]:
rs["부산"] = 1.63
rs

대구         NaN
대전         NaN
부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [33]:
rs["대구"]=1.41
rs

대구    1.410000
대전         NaN
부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [34]:
del rs['부산']
rs

대구    1.410000
대전         NaN
서울    2.832690
인천    9.818107
dtype: float64